

.sd{
	width: 900px;
	height: 400px;
}
.vv{
	width: 900px;
}
.fd{
	text-shadow: 1px 2px #00f;
	text-align: center;
	background-image: url(header.jpg);
	background-size: cover;
	height: 80px;

}
.gh{
     float: right;
     
}
.hj{
	border: 1px solid #ccc;
	float: right;
  padding: 6px;
  border: none;
  margin-top: px;
  margin-right: 
  font-size: 17px;

}
.zx{
	height: auto;
	background-color: #f0f;
}
.sdf{
	width: 500px;
	color: #fff;
}
.sx{
	width: auto;
	font-weight: bold;

}
